@charset "utf-8";

html {
  overflow-x: hidden;
}
body {
  background-color: #191919;
  font-family: var(--main-font);
}

/*********** header ***********/

.main-menu .header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 168px;
  transition: 0.4s;
  background-color: #191919;
  z-index: 1;
}
/******** 움직이는 원 ********/
.main-menu .circle {
  background: url(./imags/little-star-white.png) no-repeat 50% / contain;
  width: 70px;
  height: 70px;
  list-style: none;
}
header .main-menu .circle {
  animation: rotate_image 8s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

/******* 프로젝트 이름 ********/
header .project-name {
  margin: 6vw 0 22.708vw 17.344vw;
  text-transform: uppercase;
  text-align: left;
  font-family: var(--main-font);
}
header .project-name h1 {
  margin-top: 15vw;
  font-size: 5.2vw;
  margin-bottom: 80px;
}
header .project-name ul {
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: capitalize;
  font-size: 5.2vw;
  margin-left: 12.083vw;
}

/******* 목표 *******/
.number-1 {
  margin: 12.083vw 0 0 184px;
  color: #fff;
}
.number-1 .target h2 {
  font-size: 1.667vw;
  margin-bottom: 45px;
}
.number-1 .target .detail {
  margin-left: 18px;
  font-size: 1.302vw;
  position: relative;
}
.number-1 .target .detail li {
  margin: 20px;
}

.number-1 .target .red-back {
  background: url(./imags/red-gradient.png) no-repeat 50% / cover;
  opacity: 0.7;
  width: 100%;
  height: 120%;
  position: absolute;
  top: 55vw;
  right: -45vw;
}
/******* 스타일 가이드 ******/
.target .style {
  margin-top: 12.76vw;
}
.target .style h2 {
  font-size: 2.083vw;
  text-transform: capitalize;
}
.target .style .keyword {
  display: flex;
  font-size: 1.302vw;
  margin: 5.469vw 0 0 1.042vw;
}
.target .style .keyword li {
  margin-right: 2.917vw;
}
.target .style .style-text {
  font-size: 1.042vw;
  margin-left: 1.042vw;
  /* padding: 0 56px; */
}
.target .style .style-text p {
  padding: 20px 0;
}
.target .style .keyword li {
  /* padding: 0 56px; */
  margin-bottom: 45px;
}

/***** 컬러스타일 ******/
.number-1 .color {
  margin-top: 5.729vw;
}
.number-1 .color h2 {
  font-size: 1.458vw;
  margin-left: 20px;
  text-transform: capitalize;
}
.number-1 .color p {
  font-size: 1.042vw;
}
.number-1 .color .color-2 ul {
  display: flex;
  align-items: center;
  margin: 3.802vw 2.344vw;
}
.number-1 .color .color-2 ul li:last-child {
  width: 5.052vw;
  height: 5.052vw;
  border-radius: 10px;
  color: #222;
  font-size: 0.938vw;
  text-align: center;
  line-height: 8;
  background-color: #eee;
}
.number-1 .color .color-2 .color-eeee li:last-child {
  margin-left: 5.729vw;
}
.number-1 .color .color-2 .color-007be1 li:last-child {
  background-color: #007be1;
  text-transform: uppercase;
  margin-left: 2.448vw;
}

/******* 폰트스타일 *******/
.font h2 {
  margin-top: 6.25vw;
  text-transform: capitalize;
}
.font .font-style {
  margin: 3.646vw 2.344vw;
  display: flex;
}
.font .font-style li {
  margin-right: 70px;
}
.font .font-style .font-size li div {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.font .font-style .font-size li p {
  margin-right: 40px;
  text-transform: capitalize;
}

/***** pc-기준 ******/
.font .font-style .font-size .pc-standard p:nth-child(3) {
  font-size: 1.563vw;
}
.font .font-style .font-size .pc-standard p:nth-child(4) {
  font-size: 1.563vw;
}
.font .font-style .font-size li .pc {
  margin-right: 4.167vw;
  text-transform: uppercase;
}

/***** 테블릿-기준 ******/
.font .font-style .font-size .tablet-standard p:first-child {
  margin-right: 2.604vw;
}
.font .font-style .font-size .tablet-standard p:nth-child(3) {
  font-size: 1.302vw;
}
.font .font-style .font-size .tablet-standard p:nth-child(4) {
  font-size: 1.302vw;
}

/***** 모바일-기준 ******/
.font .font-style .font-size .mobile-standard p:first-child {
  margin-right: 2.5vw;
}

.font .font-style .font-text li {
  display: flex;
  margin: 1.042vw 8.333vw;
}
.font .font-style .font-text li p {
  margin: 0 1.563vw;
}

/******* button *******/
.button-style {
  margin: 1.563vw 0;
}
.button-style h2 {
  text-transform: capitalize;
}
.button-style ul {
  margin: 60px 0 0 45px;
}
.button-style p {
  text-align: center;
  line-height: 2.604vw;
  width: 7.813vw;
  height: 2.604vw;
  margin-right: 2.604vw;
  border-radius: 5px;
}

.button-style h4 {
  text-transform: capitalize;
}

/****** normal *******/
.button-style .normal {
  display: flex;
  align-items: center;
  font-size: 1.042vw;
}

.button-style .normal h4 {
  margin-right: 2.604vw;
}
.button-style .normal p {
  background-color: #eee;
  color: #222;
}

/****** hover *******/
.button-style .hover {
  display: flex;
  align-items: center;
  font-size: 1.042vw;
}

.button-style .hover h4 {
  margin-right: 3.229vw;
}
.button-style .hover p {
  background-color: #007be1;
}

/****** 퍼블리싱 ******/
.pub {
  margin: 11.979vw 0 0 9.583vw;
  color: #fff;
}
.pub h2 {
  font-size: 2.083vw;
  margin-bottom: 86px;
}
.pub div {
  margin: 1.563vw 0 3vw 2.188vw;
  border-bottom: 2px solid #fff;
  width: 76.563vw;
  font-size: 1.302vw;
}
.pub div p {
  margin: 1.042vw 0 0 3.385vw;
}
.pub div p:last-child {
  margin-bottom: 3.385vw;
}
.swiper-play div {
  border: none;
}
.swiper-play .swiper {
  width: 100%;
  padding-top: 2.604vw;
  padding-bottom: 5.208vw;
}

.swiper-play .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 20vw;
  height: 15.625vw;
}

.swiper-play .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 17.5vw;
}
/****** 문제 및 해결 ******/
.good {
  margin: 13.021vw 0 0 9.583vw;
  color: #fff;
}
.good h2 {
  margin: 2.604vw 0 3.906vw 0;
  font-size: 1.563vw;
}
.good .problem {
  margin-left: 20px;
}
.good .problem .solve {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid #fff;
  width: 76.563vw;
}
.good .problem .solve h3 {
  margin-bottom: 1.302vw;
  font-size: 1.302vw;
}
.good .problem .solve p {
  font-size: 1.042vw;
  line-height: 1.5;
  margin-bottom: 3.385vw;
}
.good .problem .solve .clamp {
  margin-bottom: 2.604vw;
}

/******** photo-text **********/
.good .problem .solve .photo {
  margin: 0 0 2.604vw -0.781vw;
}
.good .problem .solve .photo-text {
  margin-right: -3.125vw;
}

/********* file-text ***********/
.good .problem .solve .file {
  margin: 0 0 2.604vw 4.688vw;
}
.good .problem .solve .file-text {
  margin-right: -3.646vw;
}

/******* .good .problem .solve img ******/
.good .problem .solve img {
  width: 2.083vw;
}

/******** footer *********/
footer {
  margin-top: 300px;
  color: #fff;
}
footer .slide {
  margin-bottom: 175px;
}
/* footer slide */
.viewBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.leftbox,
.rightbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
  margin: 0 20px;
}
.slideItem {
  font-size: 10vw;
  font-weight: 300;
  color: #fff;
  padding: 0 10px;
}
.slideBox {
  width: 300%;
  height: 12vw;
  display: flex;
  animation: flowText 20s linear infinite;
}
@keyframes flowText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/******** address *******/
footer .address {
  border-bottom: 2px solid #fff;
  width: 76.563vw;
  margin: 0 auto;
  font-size: 1.823vw;
}
footer .address h3 {
  text-transform: capitalize;
  margin: 0 0 2.083vw 6.771vw;
}
footer .address p {
  margin: 0 0 3.646vw 6.771vw;
}

footer .top-going {
  display: flex;
  justify-content: space-between;
  margin-top: 5.729vw;
  height: 4.167vw;
  font-size: 1.302vw;
  padding: 0 11.979vw;
}
